*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #00272B;
    
    

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1{
    padding-bottom: 30px;
    font-size: 40px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #E0FF4F;
   
}

.container input{
    padding: 15px;
    margin: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 14.5px;
    filter: drop-shadow(0 1mm 0mm rgb(173, 155, 179));
    outline: none;
}

.container input:hover{
    filter: drop-shadow(0 0mm 0mm rgb(173, 155, 179));
}

.container button{
    padding: 20px;
    margin: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color: #E0FF4F;
    cursor: pointer;
}